{% load compress %}
{% load socialaccount %}
{% load allauth %}
{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borderless | Login</title>
    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/theme.js' %}"></script>
</head>
<body>
    
    {% block content %}
    <div class="fixed inset-0 flex items-center justify-center">
        <div class="text-center p-6 shadow w-1/2 bg-gray-900 rounded-lg">
            <div class="flex justify-center mb-4">
                <img src="{% static '/icons/google.png' %}" alt="google" style="width: 70px;">
            </div>
            <h2 class="text-xl mb-4">{% trans "Continue with Google" %}</h2>
            <div class="flex justify-center btn-primary">
                {% element form method="post" no_visible_fields=True %}
                    {% slot actions %}
                        {% csrf_token %}
                        {% element button type="submit" class="btn btn-primary" %}
                            <div class="btn btn-primary">
                                {% trans "Continue" %}
                            </div>
                        {% endelement %}
                    {% endslot %}
                {% endelement %}
            </div>
        </div>
    </div>
    
    {% endblock content %}

</body>
</html>

