{% load compress %}
{% load static %} 
{% load allauth i18n %}
{% load i18n %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borderless | Sign Up</title>
    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/theme.js' %}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+Thai&family=Noto+Sans+SC&display=swap" rel="stylesheet">
</head>
<body>
    <div class="flex items-center p-4 z-50 fixed top-0 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-900 dark:text-red-400" id="error-msg" role="alert">
    </div>

    <section class="bg-gray-50 dark:bg-gray-900">
        <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto h-screen lg:py-0">
            <p class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
                Borderless  
            </p>
            <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white text-center">
                        {% trans "Register a new account " %}
                    </h1>
                    <form class="space-y-4 md:space-y-6" id="register-form" method="POST">
                        {% csrf_token %}
                        <div>
                            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{% trans "Your email" %}</label>
                            <input type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@example.com" required="">
                        </div>
                        <div>
                            <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{% trans "Username" %}</label>
                            <input type="text" name="username" id="username" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="jack..." required="">
                        </div>
                        <div>
                            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{% trans "Password" %}</label>
                            <input type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                        </div>
                        <div class="password-confirm">
                            <label for="password2" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{% trans "Confirm Password" %}</label>
                            <input type="password" name="password2" id="password2" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                        </div>
                        <button type="submit" class="w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">{% trans "Sign Up" %}</button>
                        <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                            {% trans "Already have an account?" %} <a href="{% url 'login' %}" class="font-medium text-blue-600 hover:underline dark:text-blue-500">{% trans "Login here." %}</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <script>
        const registerForm = document.querySelector('#register-form');
        const email = document.querySelector('#email');
        const username = document.querySelector('#username');
        const password = document.querySelector('#password');
        const password2 = document.querySelector('#password2');
        
        registerForm.addEventListener('submit', async (e) => {
            e.preventDefault();
            if (password2.value != password.value) {
                const passConfirm = document.querySelector('.password-confirm');
                const msgWrapper = document.createElement('div');
                const msg = "Your password did not match, please try again~";
                const errorMsg = `
                                <div class="flex items-center p-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-900 dark:text-red-400" role="alert">
                                    <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                                    </svg>
                                    <div>
                                        <span class="font-medium">${msg}</span>
                                    </div>
                                </div>
                            `;
                msgWrapper.innerHTML += errorMsg;
                passConfirm.append(msgWrapper);
                setTimeout(() => {
                    passConfirm.removeChild(msgWrapper);
                }, "3000");
                return;
            }

            const formData = new FormData();
            formData.append('email', email.value);
            formData.append('username', username.value);
            formData.append('password', password.value);
            try {
                const response = await fetch('', {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: formData
                });
                if (response.ok) {
                    const msg = 'Register successfully!';
                    const msgWrapper = document.createElement('div');
                    msgWrapper.id = "success-messages";
                    msgWrapper.classList.add('mb-2');
                    
                    const successMsg = `
                                    <div class="flex items-center p-4 mb-2 text-sm text-white-800 rounded-lg bg-green-50 dark:bg-green-800 dark:text-white-800" role="success">
                                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 50 50" xml:space="preserve" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <circle style="fill:#25AE88;" cx="25" cy="25" r="25"></circle> <polyline style="fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" points=" 38,15 22,33 12,25 "></polyline> </g></svg>
                                        <div>
                                            <span class="font-medium">${msg}</span>
                                        </div>
                                    </div>
                                `;
                    msgWrapper.innerHTML += successMsg;
                    const formContainer = document.getElementById('error-msg');
                    formContainer.prepend(msgWrapper);
                    setTimeout(() => {
                        formContainer.removeChild(msgWrapper);
                    }, "5000");
                    window.location.replace('/web/accounts/login/');
                } else {
                    const errorData = await response.json();
                    const msgWrapper = document.createElement('div');
                    msgWrapper.id = "error-messages";
                    msgWrapper.classList.add('mb-2');

                    // Loop through the keys of the errorData object
                    for (const [field, messages] of Object.entries(errorData)) {
                        messages.forEach(message => {
                            const errorMsg = `
                                <div class="flex items-center p-4 mb-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                                    <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                                    </svg>
                                    <div>
                                        <span class="font-medium">${field}:</span>
                                        <span class="font-medium">${message}</span>
                                    </div>
                                </div>
                            `;
                            msgWrapper.innerHTML += errorMsg;
                        });
                    }

                    // Append error messages
                    const formContainer = document.getElementById('error-msg');
                    formContainer.prepend(msgWrapper);
                    setTimeout(() => {
                        formContainer.removeChild(msgWrapper);
                    }, "5000");
                }
            } catch (e) {
                const msgWrapper = document.createElement('div');
                msgWrapper.id = "error-messages";
                msgWrapper.classList.add('mb-2');
                
                const errorMsg = `
                                <div class="flex items-center p-4 mb-2 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                                    <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                                    </svg>
                                    <div>
                                        <span class="font-medium">${e}</span>
                                    </div>
                                </div>
                            `;
                msgWrapper.innerHTML += errorMsg;
                const formContainer = document.getElementById('error-msg');
                formContainer.prepend(msgWrapper);
                setTimeout(() => {
                    formContainer.removeChild(msgWrapper);
                }, "5000");
            }
        });
    </script>
</body>
</html>