
{% extends 'components/_base.html' %}

{% if user.is_authenticated %}

{% load static %} 
{% load custom_filters %}

{% block title %} 
  Borderless 
{% endblock %} 

{% block content %}
  <div class="mt-16">
  </div>

  {% for post in posts  %}
    <div class="px-4 py-2 bg-white sm:w-500 dark:bg-gray-700">
      <div class="rounded-lg dark:border-gray-700">
        <div class="w-full bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
          <div class="p-3">
            <!-- username avatar -->
            <div class="flex justify-start items-center">
                <a href="#" class="cursor-pointer">
                  <img src="{{post.author.avatar.url}}" alt="" class="h-10 w-10 rounded-full bg-gray-50">
                </a>
                <div class="username text-black ml-3 flex flex-col">
                  <span class="text-md dark:text-white">{{post.author.username}}</span>
                  <span class="text-gray-400 text-sm dark:text-gray-500">{{post.created_date|timesince}}</span>
                </div>
            </div>

            <!-- image slider -->
            {% if post.post_images.all|length > 1 %}
              <div class="image mt-3">
                <section class="slideshow-container">
                  {% for image in post.post_images.all %}
                      <div class="mySlides">
                          <img src="{{ image.images.url }}" style="width:100%">
                      </div>
                  {% endfor %}
          
                  <a class="prev" onclick="plusSlides(-1)"><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" width="24" height="24" color="#000000"><defs><style>.cls-63ce7424ea57ea6c8380057f-1{fill:none;stroke:currentColor;stroke-miterlimit:10;}</style></defs><line class="cls-63ce7424ea57ea6c8380057f-1" x1="2.5" y1="12" x2="23.5" y2="12"></line><polyline class="cls-63ce7424ea57ea6c8380057f-1" points="10.14 4.36 2.5 12 10.14 19.64"></polyline></svg></a>
                  <a class="next" onclick="plusSlides(1)"><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" width="24" height="24" color="#000000"><defs><style>.cls-63ce7424ea57ea6c8380058e-1{fill:none;stroke:currentColor;stroke-miterlimit:10;}</style></defs><line class="cls-63ce7424ea57ea6c8380058e-1" x1="21.5" y1="12" x2="0.5" y2="12"></line><polyline class="cls-63ce7424ea57ea6c8380058e-1" points="13.86 4.36 21.5 12 13.86 19.64"></polyline></svg></a>
              
                  <div class="indicator" style="text-align:center">
                      {% for i in post.post_images.all %}
                          <span class="bar" onclick="currentSlide({{ forloop.counter }})"></span>
                      {% endfor %}
                  </div>
              </section>
              </div>
              {% elif post.post_images.all|length  == 1 %}
                {% for image in post.post_images.all %}
                    <div class="mt-3">
                        <img src="{{ image.images.url }}" style="width:100%">
                    </div>
                {% endfor %}
              {% else %}
              <p></p>

            {% endif %}

            <!-- post content -->
            <div class="content mt-7">
              <p class="text-black dark:text-white">
                {{post.post_content}}
              </p>
            </div>
            <!-- comment -->
            <div class="comment mt-5 flex items-center">
                  <button type="button" data-modal-target="modal-{{ post.post_id }}" data-modal-toggle="modal-{{ post.post_id }}" data-post-id="{{ post.post_id }}" class="block text-white  focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-1">
                    <svg class="dark:text-gray-400 cursor-pointer" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" width="24" height="24" color="#000000"><defs><style>.cls-637642e7c3a86d32eae6f18f-1{fill:none;stroke:currentColor;stroke-miterlimit:10;}</style></defs><path class="cls-637642e7c3a86d32eae6f18f-1" d="M1.5,5.3v9.54a3.82,3.82,0,0,0,3.82,3.82H7.23v2.86L13,18.66h5.73a3.82,3.82,0,0,0,3.82-3.82V5.3a3.82,3.82,0,0,0-3.82-3.82H5.32A3.82,3.82,0,0,0,1.5,5.3Z"></path><line class="cls-637642e7c3a86d32eae6f18f-1" x1="15.82" y1="10.07" x2="17.73" y2="10.07"></line><line class="cls-637642e7c3a86d32eae6f18f-1" x1="11.05" y1="10.07" x2="12.95" y2="10.07"></line><line class="cls-637642e7c3a86d32eae6f18f-1" x1="6.27" y1="10.07" x2="8.18" y2="10.07"></line></svg>
                    </button>
                
                {% if post.post_comments.all|length > 0 %}
                  <span id="comment-count-{{post.post_id}}" class="ml-3 text-gray-400">{{post.post_comments.count}}</span>
                {% endif %}
            </div>

            <!-- Main modal -->
            <div id="modal-{{ post.post_id }}" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
              <div class="relative p-4 w-full max-w-md max-h-full">
                  <!-- Modal content -->
                  <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                      <!-- Modal header -->
                      <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                          <h3 class="text-md font-semibold text-gray-900 dark:text-white">
                              Comment on {{post}}
                          </h3>
                          <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm h-8 w-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="modal-{{ post.post_id }}">
                              <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                              </svg>
                              <span class="sr-only">Close modal</span>
                          </button>
                      </div>
                      <div class="bg-white dark:bg-gray-800 shadow-lg">
                          <div class="w-full border border-gray-200 bg-gray-50 dark:bg-gray-700 dark:border-gray-600">
                              <div class="px-4 py-2 bg-white rounded-t-lg dark:bg-gray-800">
                                  <label for="comment" class="sr-only">Your comment</label>
                                  <textarea id="comment-{{ post.post_id }}" rows="1" class="w-full px-0 text-sm text-gray-900 bg-white border-0 dark:bg-gray-800 focus:ring-0 dark:text-white dark:placeholder-gray-400" placeholder="Write a comment..." required ></textarea>
                              </div>
                              <div class="flex items-center justify-between px-3 py-2 border-t dark:border-gray-600">
                                  <button type="button" onclick="sendComment('{{ post.post_id }}');" class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-800">
                                      Post comment
                                  </button>
                                  </div>
                              </div>
                          </div>
                        </form>
                      <!-- Modal body -->
                      <div class="p-4 md:p-5 max-h-96 overflow-y-auto bg-white dark:bg-gray-700 rounded-b-lg">
                          <ul class="space-y-3 text-black dark:text-white" id="comments-{{ post.post_id }}">
                            {% for comment in post.post_comments.all|sort_comments %}
                              <li>
                                <div class="flex justify-between">
                                  <div class="flex justify-start items-start">
                                    <img class="w-8 h-8 rounded-full mr-3" src="{{comment.sender.avatar.url}}" />
                                    <div>
                                      <span class="font-semibold text-sm">{{comment.sender.username}}</span>
                                      <p class="text-gray-700 dark:text-gray-300 text-xs">{{comment.comment}}</p>
                                    </div>
                                  </div>
                                  <span class="text-2xs text-gray-400">{{comment.timestamp|timesince}}</span>
                                </div>
                              </li>
                            {% endfor %}
                          </ul>
                      </div>
                  </div>
              </div>
            </div>
  
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
          
{% endblock content %}

{% block script %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>

<script>

  function timeSince(date) {
    var seconds = Math.floor((new Date() - date) / 1000);
    var interval = seconds / 31536000;

    if (interval > 1) {
        return Math.floor(interval) + " years";
    }
    interval = seconds / 2592000;
    if (interval > 1) {
        return Math.floor(interval) + " months";
    }
    interval = seconds / 86400;
    if (interval > 1) {
        return Math.floor(interval) + " days";
    }
    interval = seconds / 3600;
    if (interval > 1) {
        return Math.floor(interval) + " hours";
    }
    interval = seconds / 60;
    if (interval > 1) {
        return Math.floor(interval) + " minutes";
    }
    return Math.floor(seconds) + " seconds";
}


  function postComments(post_id) {
    const socket = new WebSocket(
      'ws://' + window.location.host + '/ws/post/comments/' + post_id + '/'
    );

    socket.onmessage = function(e) {
      const data = JSON.parse(e.data);
      const commentList = document.getElementById('comments-' + post_id);
      const newComment = document.createElement('li');
      const commentTimestamp = new Date(data.timestamp);

      newComment.innerHTML = `
         <div class="flex justify-between">
          <div class="flex justify-start items-start">
            <img class="w-8 h-8 rounded-full mr-3" src="${data.sender_avatar}" />
            <div>
              <span class="font-semibold text-sm">${data.sender}</span>
              <p class="text-gray-700 dark:text-gray-300 text-xs">${data.comment}</p>
            </div>
          </div>
          <span class="text-2xs text-gray-400">${timeSince(commentTimestamp)}</span>
        </div>

      `;
      commentList.insertBefore(newComment, commentList.firstChild);

    };

    // Store the socket for later use
    window['socket_' + post_id] = socket;
  }

  function sendComment(post_id) {
    const socket = window['socket_' + post_id];
    const commentBox = document.getElementById('comment-' + post_id);
    const commentText = commentBox.value;

    if (commentText.trim() === '') {
      return;
    }

    if (socket.readyState === WebSocket.OPEN) {
      socket.send(JSON.stringify({
        'comment': commentText,
      }));
      commentBox.value = '';
    } else {
      socket.onopen = () => {
        socket.send(JSON.stringify({
          'comment': commentText,
        }));
        commentBox.value = '';
      };
    }
  }

  document.addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll("[data-modal-toggle]").forEach(button => {
        button.addEventListener('click', (event) => {
            const postId = event.currentTarget.dataset.postId;
            postComments(postId);
        });
    });
});

</script>

{% endblock script %}

{% endif %}

