{% extends "components/_base.html" %}
{% load i18n %}
{% block content %}
<div class="mt-5">
</div>
<div class="container mx-auto mt-16 px-1">
    <div class="max-w-4xl mx-auto bg-white dark:bg-gray-900 rounded-lg overflow-hidden shadow-lg mb-3">
        <div class="border-b px-4 pb-6">
            <div class="flex flex-col md:flex-row justify-center items-center text-center my-6">
                <img class="md:h-24 h-20 md:w-24 w-20 rounded-full border-4 border-white dark:border-gray-800 shadow-lg mb-4 md:mb-0 md:mr-8"
                    src="{{ user_detail.avatar.url }}" alt="{{ user_detail.username }}">
                <div class="text-center md:text-left">
                    <h1 class="text-2xl font-bold text-gray-900 dark:text-white">{{ user_detail.username }}</h1>
                    <div class="flex flex-wrap justify-center md:justify-start mt-2 space-x-4">
                        <span class="text-gray-700 dark:text-gray-300"><strong>{{ posts.count }}</strong> {% trans "posts" %}</span>
                        {% if friends|length == 0 %}
                            <span class="text-gray-700 dark:text-gray-300"><strong>0</strong> {% trans "followers" %}</span>
                            <span class="text-gray-700 dark:text-gray-300"><strong>0</strong> {% trans "following" %}</span>
                        {% else %}
                            <span class="text-gray-700 dark:text-gray-300"><strong>{{ friends|length }}</strong> {% trans "followers" %}</span>
                            <span class="text-gray-700 dark:text-gray-300"><strong>{{ friends|length }}</strong> {% trans "following" %}</span>
                        {% endif %}
                    </div>
                    <p class="mt-2 text-gray-600 dark:text-gray-400">{% trans "Bio" %}: {{ user_detail.bio }}</p>
                </div>
            </div>
            <div class="flex gap-2 px-2">
                {% if user.id not in friends and user.id != user_detail.id %}
                <button
                    class="flex-1 rounded-full bg-blue-600 dark:bg-blue-800 text-white dark:text-white antialiased font-bold hover:bg-blue-800 dark:hover:bg-blue-900 px-3 py-1 text-sm">
                    {% trans "Follow" %}
                </button>
                {% endif %}
                {% if user_detail.id != user.id%}
                    <button
                        class="flex-1 rounded-full border-2 border-gray-400 dark:border-gray-700 font-semibold text-black dark:text-white px-3 py-1 text-sm">
                        {% trans "Message" %}
                    </button>
                {% endif %}
            </div>
            <!-- Post Grid -->
            <div class="mt-8">
                <h2 class="text-xl font-semibold text-gray-900 dark:text-white mb-4 border-b border-b-white">{% trans "Posts" %}</h2>
                <div class="grid md:grid-cols-4 grid-cols-3 gap-2">
                    {% for post in posts %}
                        <a href="{% url 'web_post_detail' post.post_id %}">
                            <div class="relative aspect-square">
                                {% if post.post_images.all|length > 0 %}
                                    {% with first_image=post.post_images.all|first %}
                                        <img class="w-full h-full object-cover rounded-lg" src="{{ first_image.images.url }}" alt="">
                                    {% endwith %}
                                    {% if post.post_images.all|length > 1 %}
                                        <span class="absolute bottom-2 right-2">
                                            <svg class="h-7 w-7" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 122.88 95.04"><defs><style>.cls-1{fill-rule:evenodd;}</style></defs><title>pictures</title><path class="cls-1" d="M93.22,33.05a9.46,9.46,0,1,1-9.47,9.46,9.45,9.45,0,0,1,9.47-9.46Zm7.49-22.22v-3H7.86V74.32h4.43v7.86H6.89a6.87,6.87,0,0,1-4.86-2,6.81,6.81,0,0,1-2-4.85V6.89A6.9,6.9,0,0,1,6.89,0h94.79a6.9,6.9,0,0,1,6.89,6.89v3.94Zm9.16,76.36L93.47,61a3.76,3.76,0,0,0-6.37,0L79.36,73.47l8.42,13.72H84.32l-23-36.68a4.37,4.37,0,0,0-7.4,0L31.47,87.19H28.32V26.83H115V87.19ZM116,95H27.35a6.91,6.91,0,0,1-6.89-6.88V25.86A6.91,6.91,0,0,1,27.35,19H116a6.9,6.9,0,0,1,6.88,6.88v62.3A6.91,6.91,0,0,1,116,95Z"/></svg>
                                        </span>
                                    {% endif %}
                                {% else %}
                                    <div class="w-full h-full flex items-center justify-center bg-gray-200 dark:bg-gray-700 rounded-lg">
                                        <p class="text-gray-500 dark:text-gray-400 md:text-sm text-2xs">{{ post.post_content|truncatewords:10 }}</p>
                                    </div>
                                {% endif %}
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
   
</div>
{% endblock content %}