@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Indie+Flower&family=Open+Sans&family=Roboto:wght@300;700&family=Swanky+and+Moo+Moo&display=swap');
/* fonts */
/* font-family: 'Inconsolata', monospace; */
/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;1,100;1,200&family=Darker+Grotesque:wght@300&display=swap');

/* body */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}