{% load i18n %}
{% load custom_filters %}
<div id="modal-{{ post.post_id }}" tabindex="-1" aria-hidden="false" class="hidden fixed z-50 w-full inset-0 overflow-y-auto items-center justify-center flex">
  <div class="relative p-4 w-full max-w-md mx-auto">
    <div class="bg-white dark:bg-gray-700 rounded-lg shadow">
      <!-- Modal header -->
      <div class="flex items-center justify-between p-4 border-b dark:border-gray-600">
        <h3 class="text-md font-semibold text-gray-900 dark:text-white">
          {% trans "Comment" %}
        </h3>
        <button type="button" data-modal-toggle="modal-{{ post.post_id }}" class="close-comment-modal text-gray-400 hover:text-gray-900 dark:hover:text-white">
          ✕
        </button>
      </div>

      <!-- Comment Input -->
      <div class="p-4 border-b dark:border-gray-600">
        <textarea id="comment-{{ post.post_id }}" rows="1" placeholder="Write a comment..." class="w-full h-12 px-2 py-1 text-sm border rounded dark:bg-gray-800 dark:text-white"></textarea>
        <input type="hidden" id="parent-{{ post.post_id }}" value="">
        <div class="flex justify-end mt-2">
          <button onclick="sendComment('{{ post.post_id }}')" class="send-comment-btn px-4 py-1 text-sm text-white bg-blue-600 rounded hover:bg-blue-700">
            {% trans "Post" %}
          </button>
        </div>
      </div>

      <!-- Comment List -->
      <div class="p-4 max-h-96 overflow-y-auto" id="comments-{{ post.post_id }}">
        <ul class="space-y-2 text-sm text-gray-800 dark:text-white" id="comment-list-{{ post.post_id }}">
          {% for comment in post.post_comments.all|sort_comments %}
            {% if not comment.parent %}
              {% include "partials/comment_block.html" with comment=comment post=post level=0 %}
            {% endif %}
          {% endfor %}
        </ul>
        <!-- Load more -->
        {% comment %} <div class="mt-4 text-center">
          <button class="load-more-comments text-blue-500 hover:underline text-xs" data-post-id="{{ post.post_id }}" onclick="loadMoreComments('{{ post.post_id }}')">{% trans "Load more comments" %}</button>
        </div> {% endcomment %}
      </div>
    </div>
  </div>
</div>